<div id="adminDashboard" class="container-fluid p-0">
  <div class="row flex-wrap">
    
    <aside class="col-md-3 bg-secondary d-flex flex-column">
        <h5>Welcome <small><%= @admin.email %></small></h5>
        <div class="d-flex flex-column justify-content-center">
          <p class="d-inline-flex gap-1">
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#productsOptions" aria-expanded="false", aria-controls="productsOptions">
              Products
            </button>
            <div class="collapse" id="productsOptions">
              <div class="list-group list-group-flush" id="admin_options_list">
                <%= link_to "View Products", products_path, class: "list-group-item list-group-item-action", data: { turbo_frame: "adminOptions" } %>
                <%= link_to "Add Product", new_product_path, class: "list-group-item list-group-item-action", data: { turbo_frame: "adminOptions" } %>
              </div>
            </div>
          </p>
        </div>
    </aside>

    <main class=" col-md-8">
      <%= turbo_frame_tag id="adminOptions" %>
    </main>

    <aside class="col-md-1">
    </aside>
  </div>
</div>

<%= javascript_include_tag 'custom/active_list_item.js' %>
