<div class="scroll-list wide-list" id="filtered_results">
  <table class="table-hover table text-nowrap" id="index-table" data-controller="list-navigator">
    <thead>
      <tr>
        <th >#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Date</th>
        <th>Status</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% if orders.any? %>
        <% orders.order(created_at: :desc).each do |order| %>
          <tr class="small hover-item" data-action="click->list-navigator#performNormalRequest" data-list-navigator-url-param="<%= admin_order_path(order.id) %>">
            <th><%= order.id %></th>
            <td><%= order.name.titleize %></td>
            <td><%= order.email %></td>
            <td><%= order.created_at.strftime("%B %d, %y") %></td>
            <td><%= order.status %></td>
            <td><%= number_to_currency(order.total) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
