<!-- Edit Form Card -->
<div class="card bg-info position-relative contact-us-card px-xxl-3" data-controller="loader">

  <!-- Exit Button -->
  <%= link_to admin_pickup_path(pickup),
    data: {turbo_stream: true} do
  %>
    <i class="bi bi-arrow-left-square text-white exit-button"></i>
  <% end %>

  <h1 class="card-title text-white dongle text-center mb-0 mt-2">New Pickup</h1>
  <div class="card-body p-2">

    <!-- Edit Form -->
    <%= form_with model: pickup, url: admin_pickup_path, method: :patch, class: "text-white" do |form| %>

      <!-- Turbo Stream Form Errors -->
      <%= turbo_frame_tag "pickup_form_errors" %>

      <%= form.text_field :location,
        placeholder: "Enter location name",
        class: "form-control mb-4",
        required: true %>

      <%= form.date_field :date,
        placeholder: "Choose a date",
        class: "form-control mb-4",
        required: true %>

      <%= form.time_field :start,
        class: "form-control mb-4",
        required: true %>

      <%= form.time_field :end,
        placeholder: "End time",
        class: "form-control mb-4",
        required: true %>

      <%= form.text_field :link,
        placeholder: "Paste Google Maps link...",
        class: "form-control mb-4",
        required: true %>

      <%= form.text_area :details,
        rows: 5,
        placeholder: "Enter any further details...",
        maxlength: "750",
        class: "form-control mb-4"
        %>

      <%= form.submit "Reschedule",
        data: {loader_target: "button"},
        class: "btn btn-info dongle submit-message-button rounded-0 text-white"
      %>
    <% end %>

  </div>
</div>
