<!-- Pickup Details Card -->
<div class="card bg-info position-relative fade-card px-xxl-3" data-controller="list-navigator">

  <!-- Exit Button -->
  <%= link_to admin_pickups_partial_path,
    data: {turbo_stream: true} do
  %>
    <i class="bi bi-arrow-left-square text-white exit-button"></i>
  <% end %>

  <h1 class="card-title text-white dongle text-center mb-0 mt-2">Pickups</h1>
  <div class="card-body p-2">
    <!-- Pickup Details -->
    <table class="w-100 bg-white modal-scroll-section">
      <thead>
        <tr>
          <th>Location</th>
          <th>Date</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        <% if pickups.any? %>
          <% pickups.each do |pickup| %>
            <tr 
              data-action="click->list-navigator#performRequest"
              data-list-navigator-url-param="<%= admin_pickup_path(pickup) %>"
              class="hover-item"
              >
              <td><%= pickup.location %></td>
              <td><%= pickup.date.strftime("%B %d, %Y") %></td>
              <td><%= pickup.start.strftime("%I:%M %p") %></td>
              <td><%= pickup.end.strftime("%I:%M %p") %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
