<!-- Image Collection Section -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col p-0 image-grid-collection blur col-xl-10 col-xxl-8" >
          <div class="card border-0 side-image rounded-0">
            <%= image_tag "mug-forest-1-resize.webp", class:"card-img rounded-0", alt: "A brown and white, handcrafted pottery mug." %>
          </div>
          <div class="card border-0 side-image rounded-0">
            <%= image_tag "mug-floral-1-resize.webp", class:"card-img rounded-0", alt: "A floral, handcrafted pottery mug." %>
          </div>
          <div class="card border-0 rounded-0 main-image-right main-image">
            <%= image_tag "vase-1-resize.webp", class:"card-img rounded-0", alt: "A brown and white, handmade vase with plants." %>
          </div>
          <div class="card border-0 rounded-0 span-image">
            <%= image_tag "shop-hero.webp",
              srcset: {
                "shop-hero-small.webp" => "512w",
                "shop-hero-medium.webp" => "1024w",
                "shop-hero-large.webp" => "2048w"
              },
              sizes: "100vw",
              class:"card-img rounded-0",
              alt: "A collection of designer, handmade pottery products on display at a market." %>
          </div>
          <div class="card border-0 top-image rounded-0">
            <%= image_tag "IMG_1744_-resize.webp", class:"card-img rounded-0", alt: "A collection nof handmade pottery mugs." %>
          </div>
          <div class="card border-0 top-image rounded-0">
            <%= image_tag "IMG_1707-resize.webp", class:"card-img rounded-0", alt: "A collection nof handmade pottery mugs." %>
          </div>
    </div>
  </div>
</div>
