<!-- Image Collection Section -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col p-0 image-grid-collection col-xl-10 col-xxl-8" >
          <div class="card border-0 side-image rounded-0">
            <%= image_tag "mug-forest-1.jpeg", class:"card-img rounded-0" %>
          </div>
          <div class="card border-0 side-image rounded-0">
            <%= image_tag "mug-floral-1.jpeg", class:"card-img rounded-0" %>
          </div>
          <div class="card border-0 rounded-0 main-image-right main-image">
            <%= image_tag "vase-1.jpeg", class:"card-img rounded-0" %>
          </div>
          <div class="card border-0 rounded-0 span-image">
            <%= image_tag "1000014910.jpg", class:"card-img rounded-0" %>
          </div>
          <div class="card border-0 top-image rounded-0">
            <%= image_tag "IMG_1744.jpeg", class:"card-img rounded-0" %>
          </div>
          <div class="card border-0 top-image rounded-0">
            <%= image_tag "IMG_1707.jpeg", class:"card-img rounded-0" %>
          </div>
    </div>
  </div>
</div>
