<!-- Hero and slogan banner -->
<section class="pb-3">

  <%= render "hero" %>

</section>

<!-- Image Collection Grid -->
<section class="px-1 pb-3 px-md-0">

  <%= render "home_image_collection_1" %>

</section>

<!-- Scroll revealing elements -->
<div data-controller="scroll-reveal">
  <!--  About -->
  <section class="px-1 pb-3 px-md-0" id="about">

      <%= turbo_frame_tag "about_details" do %>
        <%= render "about_card" %>
      <% end %>

  </section>


  <!-- Contact -->
  <section id="contact" class="pb-3 px-1 px-md-0">

    <%= turbo_frame_tag "contact_us" do %>
      <%= render "contact_card" %>
    <% end %>

  </section>
</div>
