<!-- Preload Links -->
<% content_for :preload_links do %>
    <%= preload_link_tag image_path("home-hero-medium.webp"),
      as: "image", type: "image/webp",
      fetchpriority: "high" %>
<% end %>

<!-- Scroll-Over Background Image -->
<% content_for :background_image do %>
  <div class="home-bg"></div>
<% end %>

<!-- Hero and slogan banner -->
<section class="pb-3">

  <%= render "hero" %>

</section>

<div class="spacer"></div>

<!-- Image Collection Grid -->
<section class="px-1 pb-3 px-md-0">

  <%= render "home_image_collection_1" %>

</section>

<div class="spacer-sm"></div>

<!-- Scroll revealing elements -->
<div data-controller="scroll-reveal">
  <!--  About -->
  <section class="px-1 px-md-0 py-3" id="about">

      <%= turbo_frame_tag "about_details" do %>
        <%= render "about_card" %>
      <% end %>

  </section>

  <div class="spacer-sm"></div>


  <!-- Contact -->
  <section id="contact" class="px-1 py-3 px-md-0">

    <%= turbo_frame_tag "contact_us" do %>
      <%= render "contact_card" %>
    <% end %>

  </section>
  <div class="spacer-sm"></div>

</div>
