<!-- Hero and slogan banner -->
<section>

  <%= render "hero" %>

</section>

<!-- Image Collection Grid -->
<section class="py-md-5 px-1 py-2 px-md-0">

  <%= render "home_image_collection_1" %>

</section>

<!--  About -->
<section class="px-1 py-2 px-md-0" id="about">

  <%= turbo_frame_tag "about_details" do %>
    <%= render "about_card" %>
  <% end %>

</section>

<!-- Image Collection Grid -->
<section class="py-md-5 px-1 pb-2 px-md-0">

  <%= render "home_image_collection_1" %>

</section>

<!-- Contact -->
<section id="contact" class="px-1 py-2 px-md-0">

    <%= render "contact_card" %>

</section>
