<!-- Hero and slogan banner -->
<section class="pb-lg-5 pb-4">

  <%= render "hero" %>

</section>

<!-- Image Collection Grid -->
<section class="py-lg-5 px-1 py-4 px-md-0">

  <%= render "home_image_collection_1" %>

</section>

<!-- Image Collection Grid -->
<section class=" px-1 py-1 px-md-0">

  <%= render "home_image_collection_2" %>

</section>
<!--  About -->
<section class="py-lg-5 px-1 py-4 px-md-0" id="about">

  <%= turbo_frame_tag "about_details" do %>
    <%= render "about_card" %>
  <% end %>

</section>

<!-- Image Collection Grid -->
<section class="py-lg-5 px-1 py-4 px-md-0">

  <%= render "home_image_collection_2" %>

</section>

<!-- Contact -->
<section id="contact" class="py-lg-5 px-1 py-4 px-md-0">

  <%= turbo_frame_tag "contact_us" do %>
    <%= render "contact_card" %>
  <% end %>

</section>
