<%= render "layouts/alert" %>
<!-- Hero Image -->
<section>
  <%= render "pages/shop_partials/hero" %>
</section>

<!-- Sign Up Modal -->
<%= turbo_frame_tag "sign_up" do %>
  <div class="d-none" data-controller="pop-up" data-pop-up-show-value="<%= @show_modal %>">
    <%= render "subscriptions/new", subscription: @subscription %>
  </div>
<% end %>

<section class="py-2">
  <div class="container-fluid">
    <div class="row">
      <aside class="col-lg-1"></aside>
      
      <main class="col px-0 px-md-3 col-lg-10">

        <div class="info-section py-3 d-flex flex-wrap align-items-center justify-content-center">
          <div class="card border-0 py-5 me-xl-5 info-card bg-transparent">
            <%= inline_svg_tag "hands-holding-bowl.svg", class: "bg-transparent mx-auto", size: '125*125' %>
              <h4 class="card-text text-white lh-1 info-text text-center borel">Handmade</h4>
          </div>
          <div class="card border-0 py-5 mx-xl-5 info-card bg-transparent">
            <%= inline_svg_tag "dishwasher.svg", class: "bg-transparent mx-auto", size: '125*125' %>
              <h4 class="card-text text-white lh-1 info-text text-center borel">Dishwasher Safe</h4>
          </div>
          <div class="card border-0 py-5 ms-xl-5 info-card bg-transparent">
            <%= inline_svg_tag "microwave.svg", class: "bg-transparent mx-auto", size: '125*125' %>
              <h4 class="card-text text-white lh-1 info-text text-center borel">Microwave Safe</h4>
          </div>
        </div>

        <div id="accordion">
          <div class="card product-category-body mb-1 border-0 rounded-0">
            <button class="category-button rounded-0 product-category-card w-100" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <div class="display-1 text-white" id="headingOne" >Drinkware</div>
            </button>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
              <div class="card-body">
                <% if @products.where(category: "drinkware").any? %>
                  <%= render "pages/shop_partials/product_card", products: @products.where(category: "drinkware") %>
                <% else %>
                  <div class="d-flex justify-content-center">
                    <div class="py-5 rounded d-flex flex-column gap-3 align-items-center">
                      <h1 class="text-center out-of-stock mb-3">Sorry, we're out of stock!</h1>
                      <p class="text-center dongle lh-1 fs-3">
                      Sign-up to get notified when there's a new batch!
                      </p>
                      <%= link_to "Subscribe",
                        new_subscription_path,
                        data: { turbo_stream: true },
                        class: "btn fs-2 w-75 dongle pb-0  rounded-0 lh-base btn-secondary" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card product-category-body my-1 border-0 rounded-0">
            <button class="category-button rounded-0 product-category-card w-100" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <div class="display-1 text-white" id="headingTwo">Dinnerware</div>
            </button>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
              <div class="card-body">
                <% if @products.where(category: "dinnerware").any? %>
                  <%= render "pages/shop_partials/product_card", products: @products.where(category: "dinnerware") %>
                <% else %>
                  <div class="d-flex justify-content-center">
                    <div class="py-5 rounded d-flex flex-column gap-3 align-items-center">
                      <h1 class="text-center out-of-stock mb-3">Sorry, we're out of stock!</h1>
                      <p class="text-center dongle lh-1 fs-3">
                      Sign-up to get notified when there's a new batch!
                      </p>
                      <%= link_to "Subscribe",
                        new_subscription_path,
                        data: { turbo_stream: true },
                        class: "btn fs-2 w-75 dongle pb-0  rounded-0 lh-base btn-secondary" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card product-category-body my-1 border-0 rounded-0">
            <button class="rounded-0 category-button product-category-card w-100" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <div class="display-1 text-white" id="headingThree" >Decorative</div>
            </button>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
              <div class="card-body">
                <% if @products.where(category: "decorative").any? %>
                  <%= render "pages/shop_partials/product_card", products: @products.where(category: "decorative") %>
                <% else %>
                  <div class="d-flex justify-content-center">
                    <div class="py-5 rounded d-flex flex-column gap-3 align-items-center">
                      <h1 class="text-center out-of-stock mb-3">Sorry, we're out of stock!</h1>
                      <p class="text-center dongle lh-1 fs-3">
                      Sign-up to get notified when there's a new batch!
                      </p>
                      <%= link_to "Subscribe",
                        new_subscription_path,
                        data: { turbo_stream: true },
                        class: "btn fs-2 w-75 dongle pb-0  rounded-0 lh-base btn-secondary" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </main>

      <aside class="col-lg-1"></aside>

    </div>
  </div>
</section>
