  <div class="container-fluid p-0">
    <div class="row flex-wrap">

      <% if products.any? %>
        <% carousel_counter_number = 0 %> <!-- Allow each control to have different id -->
        <% products.each do |product| %>
          <!-- CAROUSEL -->
          <div class="card my-1 rounded-0 my-sm-0 p-0 shadow d-flex justify-content-between col-12 col-sm-6 col-xl-4">
            <div class="card-img rounded-0">

              <%= render "products/partial/product_image_carousel", carousel_counter_number: carousel_counter_number, product: product %>

            </div>
            <!-- Out Of Stock overlay -->
            <% if product.out_of_stock %>
              <div class="out_of_stock_overlay">
                <span class="badge fs-5">OUT OF STOCK</span>
              </div>
            <% end %>
            <!-- Product Info -->
            <div class="card-body d-flex flex-column justify-content-between pb-2 pb-lg-3">
              <div>
              <h5 class="card-title"><%= product.title %></h5>
              <p class="card-text mb-auto"><%= product.description %></p>
              </div>
              <div>
              <% if !product.out_of_stock %>
                <p class="card-text mt-2"><b>Price: </b><%= number_to_currency(product.price).to_s %></p>
                <%= form_with url: add_item_cart_path(product_id: product.id), class: "d-flex justify-content-between", method: :post do |form| %>
                  <div class="container w-100 d-flex justify-content-between">
                    <%= form.submit "Add to cart", class: "btn btn-primary text-white" %>
                    <%= form.number_field :num_of_items, class: "form-control w-25", value: 1, min: 1, max: product.stock, step: 1 %>
                  </div>
                <% end %>
              <% end %>
              </div>
            </div>
          </div>
          <% carousel_counter_number += 1 %>
        <% end %>
      <% end %>
    </div>
  </div>
