<!-- app/views/carts/_cart_summary.html.erb -->
<%= turbo_frame_tag "cart_summary_frame" do %>
  <!-- Hide if no cart items -->
  <% if cart_count > 0 %>
    <!-- Fixed-Width Container for smooth slide-in transition -->
    <div class="cart-summary-container d-inline-flex align-items-end">
      <div class="collapse collapse-horizontal <%= show %> mb-5" id="cartDetails">
        <div class="card rounded-end-0 border-end-0 shadow-lg cart-preview-card">
          <h3 class="cart-summary-title text-center text-white p-2">Cart Summary</h3>
          <!-- Cart Items List -->
          <div class="container rounded-start bg-white">
            <ul class="list-group list-group-flush cart-summary-list">
              <!-- Calculate total --> 
              <% cart_total = 0 %>
              <% @cart.cart_items.each do |item| %>
                <% cart_total += item.quantity * item.product.price %>
                <!-- Item Details -->
                <li class="list-group-item d-flex px-1 justify-content-between opacity-75">
                  <!-- Item Delete Button and Title -->
                  <div class="cart-summary-item-title">
                    <%= button_to remove_item_cart_path(item.product_id), class: "btn rounded-circle pt-2 ps-1 border-0 m-0", method: :delete do %>
                      <i class="bi bi-x-circle text-danger opacity-75 fs-5"></i>
                    <% end %>
                    <%= item.product.title %>
                  </div>
                  <!-- Item Quantity and Price -->
                  <div class="cart-summary-amounts">
                    <div class="w-25 text-start">x<%= item.quantity %></div>
                    <div class="w-75"><%= number_to_currency(item.product.price) %></div>
                  </div>
                </li>
              <% end %>
              <!-- Cart Total -->
            </ul>
            <!-- Cart Nav Options -->
            <h5 class="card-title border-top border-2 fs-6 opacity-75 p-3 text-end">Total: <%= number_to_currency(cart_total) %></h5>
            <div class="card-body d-flex justify-content-between">
              <button 
                class="btn text-white btn-info"
                type="button" 
                data-bs-toggle="collapse"
                data-bs-target="#cartDetails"
                aria-expanded="true"
                aria-controls="cartDetails">
                Hide Cart
              </button>
              <%= button_to "Checkout", cart_path, method: :get, class: "btn border-3 btn-secondary text-white" %>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>
<% end %>
