
<div class="row flex-wrap">
  <aside class="col-md-6 bg-light">
    <div class="container sticky-top">

      <div class="card bg-secondary shadow mt-5">
        <div class="card-body">
          <h4 class="card-title">Cart Details</h4>
          <ul class="list-group">
            <% if @cart_items.any? %>
              <% @cart_items.each do |product_id, details| %>
                <% product = Product.find(product_id) %>
                <li class="list-group-item">
                  <b>Name: </b><%= product.title %><br>
                  <b>Price: </b><%= product.price %><br>
                  <b>Quantity: </b><%= details["quantity"] %>
                </li>
              <% end %>
            <% end %>
            <li class="list-group-item">
              <b>Cart Total: </b> <%= number_to_currency(@order_total) %>
            </li>
          </ul>
          <%= button_to "Checkout", checkout_path, method: :post, data: { turbo: false } %>
        </div>
      </div>
    </div>
  </aside>

  <main class="col-md-6 bg-light">
    <%= render partial: "cart_items" %>
  </main>

</div>
