
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <%= form_with model: [ :admin, product], data: { controller: "form-category" } do |form| %>
        <% if product.errors.any? %>
          <% product.errors.full_messages.each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        <% end %>
        <div class="mb-3 d-flex gap-4">

          <div>
            <%= form.label :title, class: "form-label" %>
            <%= form.text_field :title, class: "form-control", required: true %>
          </div>
        </div>

        <div class="mb-3 d-flex gap-4">
          <div style="width: 40%">
            <%= form.label :weight, class: "form-label" %>
            <%= form.number_field :weight, class: "form-control", placeholder: "g", required: true %>
          </div>
          <div style="width: 40%">
            <%= form.label :category, class: "form-label" %>
            <%= form.select :category,
              [["Drinkware", "drinkware"], ["Dinnerware", "dinnerware"],
               ["Decorative", "decorative"]],
            {},
            { class: "form-select bg-white", data: { action: "change->form-category#changeOptions"}, required: true } %>
          </div>
        </div>
        <div class="mb-3 d-flex gap-4" style="width: 40%" data-form-category-target="ounces">
          <div>
            <%= form.label :ounces, "Capacity", class: "form-label" %>
            <%= form.number_field :ounces, class: "form-control", placeholder: "oz", step: :any %>
          </div>
        </div>

        <div class="mb-3 d-flex gap-4 d-none" data-form-category-target="dimensions">
          <div>
            <%= form.label :weight, class: "form-label" %>
            <%= form.number_field :weight, class: "form-control", placeholder: "g" %>
          </div>
          <div>
            <%= form.label :length, class: "form-label" %>
            <%= form.number_field :length, class: "form-control", placeholder: "in", step: :any %>
          </div>
          <div>
            <%= form.label :width, class: "form-label" %>
            <%= form.number_field :width, class: "form-control", placeholder: "in", step: :any %>
          </div>
          <div>
            <%= form.label :height, class: "form-label" %>
            <%= form.number_field :height, class: "form-control", placeholder: "in", step: :any %>
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :description, class: "form-label" %>
          <%= form.text_area :description, class: "form-control", rows: "5", required: true, maxlength: 150 %>
        </div>
        <div class="mb-3">
          <%= form.label :price, class: "form-label" %>
          <%= form.number_field :price, step: :any, class: "form-control", required: true %>
        </div>
        <div class="mb-3">
          <%= form.label :stock, class: "form-label" %>
          <%= form.number_field :stock, class: "form-control", required: true %>
        </div>
        <!-- Image upload section -->
        <div class="mb-3" data-controller="previews">
          <%= form.label :main_image, class: "form-label" %>
          <%= form.file_field :main_image, class: "form-control",
                direct_upload: true,
                accept: 'image/*',
                data: { previews_target: "input", action: "change->previews#preview" } %>

          <div class="container mt-2" data-previews-target="preview">
            <% if product.main_image.attached? %>
              <%= image_tag product.main_image.variant(:thumb) %>
            <% end %>
          </div>
        </div>

        <div class="mb-3" data-controller="previews">
          <%= form.label :images, class: "form-label" %>
          <%= form.file_field :images, accept: 'image/*', multiple: true, class: "form-control", data: { previews_target: "input", action: "change->previews#preview" } %>

          <div class="d-flex mt-2 gap-2">
            <div class="d-flex gap-2" data-previews-target="preview">
            </div>
              <%= turbo_frame_tag "images" do %>
                <div class="d-flex gap-2">
                <% if product.images.attached? %>
                    <% product.images.each do |image| %>
                      <div class="image-container">
                        <%= link_to admin_remove_product_image_path(product, image),
                          class: "remove-image-button text-white fs-5 opacity-75",
                          data: { turbo_stream: true } do %>
                          <i class="bi bi-x-square-fill"></i>
                        <% end %>
                        <%= image_tag image.variant(:thumb), data: { previews_target: "preview" } %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
          </div>
        </div>

        <div class="d-flex justify-content-between mb-5">
          <%= form.submit class: "btn btn-warning", data: {turbo: false} %>
      <% end %>
        <% if !product.id.nil? %>
          <%= button_to "Delete Product", admin_product_path(product.id), class: "btn btn-danger", method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>
