<!-- app/views/contact_forms/new.html.erb -->
<%= turbo_frame_tag "contact_us" do %>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="px-0 col col-sm-8 col-md-6 col-lg-5 col-xxl-4">

        <!-- Contact Form Card -->
        <div class="card blur contact-us-card px-xxl-3" data-controller="loader">

          <div class="form-overlay card border-0 text-white" data-loader-target="loadingOverlay">
            <i class="bi bi-cup-hot-fill loading-icon mb-0" data-loader-target="loadingIcon" data-action="animationend->loader#handleLoadingEnd"></i>
            <p class="text-center form-result-message" data-loader-target="message" data-action="animationend->loader#handleComplete">Your message has been sent.</p>
          </div>

          <h1 class="card-title sign-up-title text-white borel display-5 text-center mb-0 mt-2" data-apple-detect-target="text">Let's chat</h1>
          <div class="card-body text-start" style="text-shadow: 1px 1px 3px gray">


              <!-- Contact Form -->
              <%= form_with model: contact_form, url: contact_forms_path, data: { "loader-target": "form", action: "turbo:submit-end->loader#show"}, method: :post, class: "text-white" do |form| %>

                <!-- Turbo Stream Form Errors -->
                <%= turbo_frame_tag "contact_form_errors" %>

                <%= form.text_field :name,
                  placeholder: "Enter your name",
                  maxlength: "50",
                  class: "form-control mb-4",
                  required: true %>

                <%= form.email_field :email,
                  placeholder: "Enter your email",
                  maxlength: "50",
                  class: "form-control mb-4",
                  required: true %>

                <%= form.text_area :message,
                  rows: 5,
                  placeholder: "Enter message details...",
                  maxlength: "750",
                  class: "form-control mb-4",
                  required: true %>

                <%= form.submit "Send Message", data: {loader_target: "button"}, class: "btn btn-secondary dongle submit-message-button rounded-0 opacity-75 text-white" %>
                <%= turbo_frame_tag "contact_form" do %>
                <% end %>
              <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
