<%= turbo_frame_tag id="adminOptions" do %>
  <div class="overflow-scroll" style="height: 800px">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody>
        <% if @products.any? %>
          <%@products.each do |product| %>
            <tr>
              <th scope="row"><%= product.id %></th>
              <td><%= link_to "#{product.title}", edit_product_path(product.id), data: {turbo_frame: "adminOptions" } %></td>
              <td><%= product.price %></td>
              <td><%= product.stock %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
