<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Zold Ceramics" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Zold Ceramics">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon-1-c1.png', type: 'image/png' %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# Allow page specific javascripts to be loaded in the head as needed %>
    <%= yield(:page_scripts) %>
  </head>

  <body class="d-flex flex-column min-vh-100 bg-light">  


      <header>
        <%= render "shared/admin_nav" %>
      </header>

      <main class="py-5">
        <!-- Page Content -->
        <%= yield %>
      </main>

      <div class="container" style="margin-top:auto">
      <footer class=" d-flex justify-content-center align-items-center border-top">
        <%= link_to "Go to public site", home_path, class: "dongle text-decoration-none text-info", style: "font-size: 30px" %>
      </footer>
    </div>
  </body>
</html>
